@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body{
    background-image: url("../assets/bg-1.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo-left img{
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: auto;
    border-radius:30px ;
}
.logo-right img {
    margin-top: 20px;
    margin-right: 20px;
    width: 100px;
    height: auto;
    border-radius: 30px;
}

/* Main styles */
main {
    max-width:max-content;
    margin: 0 auto;
    padding: 20px;
}

/* Content section styles */
.content {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: large;
}

.content2 {
    max-width: 800px;
    margin-bottom: 20px;
    background-color: #b7b8ee;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin : 0 auto;
    width:50%;
    clear:both;
}
.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 24px;
    line-height: 1.5;
}

/* People section styles */
.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    width: 150px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.person img {
    max-width: 100%;
    border-radius: 50%;
}

.person p {
    font-size: 14px;
    margin-top: 5px;
}

/* Hover effect on Person Card */
.person:hover {
    transform: scale(1.05);
}
