* {
    box-sizing: border-box;
    margin: 0 0;
}

.bg {
    background-image: url("../assets/bg-1.jpg");
    background-color: rgb(15, 14, 14);

    width: 100vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }

.app-container {
   
    background-color: rgba(15, 14, 14, 0.348);
    width: inherit;
    height: inherit;
}

.slide-container {
    position: relative;
    width: 100%;
    height: 100% ;
    z-index: 44;
}

.bg-swiper::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(15, 14, 14, 0.748);
   
}

iframe {
    cursor: pointer;
    border: 3px solid #fff;
    width: 700px;
    height: 0;
    transition: width ease-in-out .3s,height ease-in-out .3s, border ease-in-out .3s;
}

.s_content {
    cursor: pointer;
    width: max-content;
}

.s_content h3{
    margin: 1rem 1rem;
}
.s_content:hover h3 {
    color : #ffcc00;
}

.s_content:hover iframe, iframe:hover {
    border: 3px solid #d8af0d;
    width: 720px;
    height: 420px;
    transition: width ease-in-out .3s,height ease-in-out .3s, border ease-in-out .3s;
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
}
.swiper-container  {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    width: 100% ;
    height: 100% ;
}

.scroll p {
    position: relative;
    bottom: 1.7rem;
    font-size: .9rem;
    font-weight: 800;
}
.arrow_up {
    animation: MoveArrowUpDown 1.3s ease-in-out infinite ;
    filter: brightness(0) invert(1);
    position: relative;
    bottom: 6rem;
    margin-bottom: 2rem;
    width: 2.5rem;
    height: auto;
    transform: rotate(180deg);
}
.arrow {
    animation: MoveArrowUpDown 1.3s ease-in-out infinite ;
    filter: brightness(0) invert(1);
    position: relative;
    bottom: 6rem;
    margin-bottom: 2rem;
    width: 2.5rem;
    height: auto;

}
#nomad_icon {
    animation: MoveUpDown 3.4s ease-in-out infinite;
    position: relative;
    
    width: 250px;
    height: auto;
    
}

.planets  {
    position: absolute;
   
    height : auto ; 
  
    object-fit: contain;
    opacity: .5;
}

.planets:nth-child(5) {  
    animation: Rotate5 3.4s ease-in-out infinite;
    width: 130px;
    top: 10rem;
    left: 15rem;
}

.planets:nth-child(2) { 

    animation: Rotate2 3.4s ease-in-out infinite;
    width: 160px;
    top: 3rem;
    right : 13rem ;
}

.planets:nth-child(3) { 
    animation: Rotate3 3.4s ease-in-out infinite;
    width: 110px;
    bottom: 10rem;
    right: 20rem;
}

.planets:nth-child(4) { 
    width: 90px;
    bottom: 10rem;
    left: 5rem;

    animation: Rotate4 3s ease-in-out infinite;
}

.planets:nth-child(1) { 

    animation: Rotate1 3.4s ease-in-out infinite;
    width: 120px;
    bottom: 30rem;
    right: 25rem;
}

.planets_container {
    z-index: 3;
    width: 100%;
}
.info_menu {
    width: 100%;
    position: absolute;
    padding: 0rem 2rem;
}
.info_menu_element {
    cursor: pointer;
    min-width: 200px;
    padding: .7rem .7rem;
    margin: 1rem 1rem;
    background-color: #ffffffd8 ;
    box-sizing: border-box;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 99;
    border : 1px solid #000;
    transition: all ease-in-out .3s;
}

.info_menu_element:hover {
    box-sizing: border-box;
    cursor: pointer;
    min-width: 200px;
    background-color: rgba(0, 0, 0, 0.897) ;
    border-radius: 5px;
    border : 1px solid #fff;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    transform: scale(1.1);
    transition: all ease-in-out .3s;
}

.home_menu {
    width: max-content;
}
.menu_element {
    cursor: pointer;
    min-width: 200px;
    padding: 1rem 1rem;
    margin: 2rem 1rem;
    background-color: rgb(255, 255, 255) ;
    border: 3px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 99;

}

.menu_element:hover {
    box-sizing: border-box;
    cursor: pointer;
    min-width: 200px;
    padding: 1rem 1rem;
    margin: 2rem 1rem;
    background-color: rgb(46, 46, 46) ;
    border: 3px dashed #ffffff;
    border-radius: 10px;
    color: white;
    transform: scale(1.1);
    transition: all ease-in-out .3s;
    
}

.level {
    cursor: pointer;
    width: max-content;
}

.level:hover .level_title::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 5rem;
    transition: width ease-in-out .4s;
   
} 

#level_1 .level_title::after {
    background-color: rgb(19, 84, 79);
} 
#level_2 .level_title::after {
    background-color: rgb(255, 213, 0);
} 
#level_3 .level_title::after {
   
    background-color: rgb(29, 44, 96);
} 
#level_4 .level_title::after {
   
    background-color: rgb(92, 24, 59);
} 

#level_1:hover .level_title::after {
   
    background-color: rgb(19, 84, 79);
} 
#level_1:hover .level_title {
    
    background-color: rgb(19, 84, 79);
} 
#level_1:hover  .level_no > h3  {
    
    color: rgb(19, 84, 79);
} 



#level_2:hover .level_title::after {
   
    background-color: rgb(255, 213, 0);
} 
#level_2:hover .level_title {
    
    background-color: rgb(255, 213, 0);
} 
#level_2:hover  .level_no > h3  {
    
    color: rgb(255, 213, 0);
} 

#level_3:hover .level_title::after {
   background-color: rgb(29, 44, 96);
} 
#level_3:hover .level_title {
    background-color: rgb(29, 44, 96);
} 
#level_3:hover  .level_no > h3  {
    color: rgb(29, 44, 96);
} 

#level_4:hover .level_title::after {
    background-color: rgb(92, 24, 59);
 } 
 #level_4:hover .level_title {
     background-color: rgb(92, 24, 59);
 } 
 #level_4:hover  .level_no > h3  {
     color: rgb(92, 24, 59);
 } 



.level:hover .level_title > p {
    color: #ffffff;
   transition: color ease-in-out .2s,font-size ease-in-out .2s;
   font-size: 1.3rem;
    font-weight: 600;
}

.level:hover .level_no > h3 {
    
   transition: color ease-in-out .3s,font-size ease-in-out .4s;
   font-size: 2.3rem;
    font-weight: 800;
}

.level:hover .level_no > p {
    
    font-size: 0;
 }


.level_no {
    padding: 1.3rem 1rem;
    background-color: #ffffff;
    width: 5rem ;
    height: 5rem;
    margin: 1rem 1rem;
}

.level_no > h3 {
    font-size: 2rem;
    font-weight: 800;

   transition: color ease-in-out .3s,font-size ease-in-out .4s;
}


.level_title {
    position: relative;
    min-width: 28rem;
    height: 5rem;
    padding: 1.3rem 1rem;
    background-color: #ffffff;
}

.level_title::after{
    content:"";
   position: absolute;
   z-index: 33;
   width: 0rem;
   height: 5rem;
   transition: width ease-in-out .2s;
}



.level_title > p {
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 34;
    transition: color ease-in-out .2s,font-size ease-in-out .2s;
}



.bg-swiper {
    transition: background-image .5s ease-in;
    
}

body.bg1 {
    background-image: url("../assets/bg1.jpg"); 
    background-color: rgb(15, 14, 14);
    width: 100vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1;
}

body.bg2 {

    background-image: url("../assets/bg2.jpg");  
    background-color: rgb(15, 14, 14);
    width: 100vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1;
    
}

body.bg3 {

    background-image: url("../assets/bg3.jpg");  
    background-color: rgb(15, 14, 14);
    width: 100vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1;
    
}

body.bg4 {

    background-image: url("../assets/bg4.jpg");  
    background-color: rgb(15, 14, 14);
    width: 100vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1;
    
}

body.bg5 {

    background-image: url("../assets/bg5.jpg");  
    background-color: rgb(15, 14, 14);
    width: 100vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1;
    
}

body.bg6 {

    background-image: url("../assets/bg6.jpg");  
    background-color: rgb(15, 14, 14);
    width: 100vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1;
    
}
/******* COMMON STYLES ********/

.circular {
    border : 1px dashed #fff;
    border-radius : 50%;
}
.img-150 {
    width : 150px ; 
    height : auto ; 
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-start {
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-bound {
    justify-content: space-between;
    align-items: center;
}


.flex-stretch {
    justify-content: space-around;
    align-items: center;
}
.img-200 {
    width: 200px;
    height: auto;
}
.row {
    width: 100%;
    padding: .5rem 1rem;
}

.center {
    margin : auto auto ; 
    text-align: center;
}

/****** KeyFrames ********/



@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 30px;
    }
  }

  @keyframes MoveArrowUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 10px;
    }
  }

  @keyframes Rotate3 {
    0%, 100% {
     
        bottom: 10rem;
        right: 20rem;
        
      }
      50% {
       
        bottom: 10.3rem;
        right: 19rem;
      }
    }


    @keyframes Rotate4 {
        0%, 100% {
         
            bottom: 10rem;
            left: 5rem;
            
          }
          50% {
           
            bottom: 10.3rem;
            right: 5.8rem;
          }
        }
    
  @keyframes Rotate5 {
    0%, 100% {
     
        top: 9.6rem;
        left: 14rem;
        
      }
      50% {
       
        top: 10rem;
        left: 15rem;
      }
    }


@keyframes Rotate1 {
        0%, 100% {
         
            bottom: 30rem;
            right: 25rem;
            
          }
          50% {
           
            bottom: 30.4rem;
            right: 25.3rem;
          }
        }

        @keyframes Rotate2 {
            0%, 100% {
             
                top: 3rem;
                right : 13rem ;
                
              }
            
              50% {
               
                top: 3.2rem;
                right : 13.2rem ;
              }
          
            }
/******* FONT SETTINGS *******/


h3 , h1, h2 , p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-weight: 600;
}
.m2 {
    margin: 2rem 2rem;
}
.mt2 {
    margin-top: 2rem;
}
.mt3 {
    margin-top: 3rem;
}

.mt1 {
    margin-top : 1rem;
}

.mb1 {
    margin-bottom: 1rem;
}
.mb2 {
    margin-bottom: 2rem;
}
.rem2 {
    font-size: 2rem ;
}  
.white{
    color: white;
}